# Configuration du serveur
PORT=3001

# Configuration de MongoDB
# MONGODB_URI=mongodb://localhost:27017/bolle-auth
# MongoDB Cloud Connection String
MONGODB_URI=

# JWT Secret (à changer en production)
JWT_SECRET=

# Firebase (optionnel, pour l'authentification Firebase)
# FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"your-project-id","private_key_id":"your-private-key-id","private_key":"your-private-key","client_email":"your-client-email","client_id":"your-client-id","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"your-cert-url"}

# Configuration des emails (pour l'envoi d'emails de vérification, réinitialisation de mot de passe, etc.)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=votre-email@gmail.com
EMAIL_PASS=votre-mot-de-passe-d-application
EMAIL_FROM=votre-email@gmail.com

# Note: Pour Gmail, utiliser un mot de passe d'application
# Voir: https://support.google.com/accounts/answer/185833

# URL du backend
BACKEND_URL=http://localhost:3001

# Clé d'API pour l'authentification entre services
SERVICE_API_KEY=

HYGIENE_IMPORT_API_KEY=

# Configuration Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
